/*Movie Card*/
.movie-card{
  width: 200px;
  background-color: var(--color-card-light);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  box-shadow: var(--shadow-light);
  transition: transform var(--transition-speed) ease,
  box-shadow var(--transition-speed) ease,
  background var(--transition-speed) ease;
}

.app.dark .movie-card{
  background-color: var(--color-card-dark);
  box-shadow: var(--shadow-dark);
}

.movie-card img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-bottom: 3px solid var(--color-accent);
  border-radius: 12px 12px 0 0;
  transition: transform 0.3s ease;
}

.movie-card :hover img{
  transform: scale(1.05);
}

.movie-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 20px 40px var(--color-card-dark);
}

.movie-card h3{
  margin: 12px 0 5px;
  font-size: 1.15rem;
  font-weight: 600;
}

.movie-card p{
  margin-bottom: 12px;
  font-size: 0.9rem;
  color: #888;
}

.app.dark .movie-card p{
  color: #ccc;
}

@media(max-width:480px){
  .movie-card{
    width: 150px;
  }
  .movie-card img{
    width: 150px;
    height: 200px;
  }
}