.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.25s ease;
}

.modal-content{
    background-color: var(--color-card-light);
    border-radius: 20px;
    width: 90%;
    max-width: 750px;
    flex-wrap: wrap;
    padding: 25px;
    position: relative;
    display: flex;
    transition: background var(--transition-speed) ease;
}

.app.dark .modal-content{
    background-color: var(--color-card-dark);
}

.modal-content img{
    width: 220px;
    border-radius: 14px;
    margin-right: 25px;
    margin-bottom: 15px;
    transition: transform var(--transition-speed) ease;
}

.modal-info{
    flex: 1;
    min-width: 220px;
}

.modal-info h2{
    margin-top: 0;
    font-size: 1.7rem;
    font-weight: 700;
}

.modal-info p{
    color: #666;
    line-height: 1.5;
}

.app.dark .modal-info p{
    color: #ccc;
}

.close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: var(--color-accent);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transform: background var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}

.modal-action-btn{
    padding: 10px 22px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid #ff4d4d;
    color: #ff4d4d;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease;
}

.modal-action-btn:hover{
    background-color: #ff4d4d;
    color: #fff;
    transform: scale(1.05);
}

.close-btn:hover{
    background: var(--color-accent-hover);
    transform: scale(1.1);
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.modal-content img{
    width: 220px;
}